.col-form-label {
    font-weight: bold;
};

.form-check-label {
    font-weight: bold;
};

.main-text {
    padding: 2em !important;
};

html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 1;
    z-index: 100000;
}

#overlayTimeout {
    position: fixed;
    top: 0;
    left: 0;
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 1;
    z-index: 100000;
}

input[type=radio] {
    width: 20px;
    height: 20px;
}