.col-form-label {
    font-weight: bold;
};

.form-check-label {
    font-weight: bold;
};

.main-text {
    padding: 2em !important;
};

html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

